<!-- An html basefile to begin a new template -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tonite</title>
    <link rel="stylesheet/less" type="text/css" href="less/tonitestyle.less">
    <script src="less/less.js" type="text/javascript"></script>
    <style>
        body { background: #EEEEEE;}
    </style>
</head>

<body>
    <div class="chatBubble in">
        <p>
            <strong>SalutSalut :</strong> Cool cool cool !
        </p>
    </div>
    <div class="chatBubble in">
        <p>
            <strong>SalutSalut :</strong> Cool cool cool !
        </p>
    </div>
    <div class="chatBubble out">
        <p>
            <strong>SalutSalut :</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="chatBubble in">
        <p>
            <strong>SalutSalut :</strong> Cool cool cool !
        </p>
    </div>

    <form class="chatForm">
        <input type="text" class="chatInput" placeholder="Entrez votre message"/>
    </form>
</body>
</html>