<!-- An html basefile to begin a new template -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tonite</title>
    <link rel="stylesheet" type="text/css" href="css/tonitestyle.css">
</head>

<body>
<header id="mainHeader">
    <div class="headerGradient">
<!--         <div class="part1"></div>
        <div class="part1to2"></div>
        <div class="part2to3"></div>
        <div class="part3to4"></div>
        <div class="part4to5"></div>
        <div class="part5to6"></div>
        <div class="part6to7"></div>
        <div class="part7to8"></div>
        <div class="part8to9"></div>
        <div class="part9to10"></div>
        <div class="part10to11"></div>
        <div class="part11to12"></div>
        <div class="part12to13"></div>
        <div class="part13to14"></div>
        <div class="part14to15"></div>
        <div class="part15to16"></div>
        <div class="part16to17"></div>
        <div class="part17to18"></div>
        <div class="part18to19"></div>
        <div class="part19"></div> -->
    </div>
    <div class="headerStencil">
        <img class="logo" src="images/tonitestencillogo.png" alt="tonite" />
        <p class="catchLine">is gonna be a good night</p>
    </div>
</header>
</body>
</html>