<!-- An html basefile to begin a new template -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tonite</title>
    <link rel="stylesheet/less" type="text/css" href="less/tonitestyle.less">
    <script src="less/less.js" type="text/javascript"></script>
</head>

<body class="modalDisplayed modalVisible">
    <button id="overlay"></button>
    <div id="primaryModal" class="channel2">
        <div class="title">Blabla</div>
        <div id="secondaryModal">
            <div class="title">TrucTruc</div>
            <div class="content">
                <div class="chatWidget">
                    <div class="chatBubbles">
                        <div class="chatBubble in">
                            <p>
                                <strong>SalutSalut :</strong> Cool cool cool !
                            </p>
                        </div>
                        <div class="chatBubble in">
                            <p>
                                <strong>SalutSalut :</strong> Cool cool cool !
                            </p>
                        </div>
                        <div class="chatBubble out">
                            <p>
                                <strong>SalutSalut :</strong> Porel ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="chatBubble in">
                            <p>
                                <strong>SalutSalut :</strong> Cool cool cool !
                            </p>
                        </div>
                    </div>
                    <form class="chatForm">
                        <input type="text" class="chatInput" placeholder="Entrez votre message"/>
                    </form>
                </div>
            </div>
        </div>
        <button class="foldButton foldState"></button>
        <div class="topModal">
            <button class="closeButton"></button>
            <div id="tabs">
                <button class="tabButton">Détails</button>
                <button class="tabButton">Live chat</button>
            </div>
        </div>
        <div class="content">
            <article class="programDetails">
                <div class="programDescription">
                    <h1>Wrong</h1>
                    <ul class="programCharacteristics">
                        <li>Film</li>
                        <li>France 2</li>
                        <li>1h34</li>
                    </ul>
                    <p class="status">En cours</p>

                    <div class="progressBar">
                        <span class="startString">23 h 02</span>
                        <div class="bar">
                            <div class="completion" style="width: 62.52291666666666%; "></div>
                        </div>
                        <span class="stopString">23 h 03</span>
                    </div>

                    <div class="programSynopsis">
                        <p>
                            Dolph a perdu son chien, Paul.<br/>
                            Le mystérieux Master Chang pourrait en être la cause. <br/>Le détective Ronnie, la solution.<br/>
                            Emma, la vendeuse de pizzas, serait un remède, et son jardinier, une diversion?<br/>
                            Ou le contraire. Car Paul est parti, et Dolph a perdu la tête.
                        </p>
                    </div>
                </div>
                <img src="http://lorempixel.com/360/290/" alt="Wrong" class="programImage"/>
            </article>
        </div>
        <button class="closeButton"></button>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>