/*===============
  = Header.less =
  =============== */

@import "palette.less";
@import "metrics.less";
@import "constants.less";
@import "zindexes.less";
@import "header_colors.less";

@catchLineColor: @lightGray;

header#mainHeader {

    position: absolute;
    top: 0;
    left: 0;

    width: @channelWidth;
    height: @headerHeight;

    z-index: @z-header;

    .headerStencil {
        position: fixed;
        top: @topModalBorderThickness;
        left: 0;

        width: 100%;
        line-height: @headerHeight - @topModalBorderThickness;

        background-color: @mainBackground;
        vertical-align: middle;

        z-index: @z-headerStencil;

        .logo {
            display: inline-block;
            vertical-align: -3px;

            margin-left: @channelHorizontalMargin;
            margin-right: 2px;
        }

        .catchLine {
            display: inline-block;
            font-size: 12px;
            margin: 0;
            padding: 0;
            
            color: @catchLineColor;
        }
    }

    .headerGradient {

        font-size: 0;
        white-space: nowrap;
        height: @headerHeight;

        div {
            display: inline-block;
            height: @headerHeight;
            width: @channelWidth;

            &:first-child, &:last-child {
                width: @channelWidth / 2;
            }
        }
    }
}