/*======================
  = Metrics of the app =
  ====================== */

/* Consider this file as a "palette of shared dimensions" */

// Header
@topModalBorderThickness: 4px;
@headerHeight: 50px;

// Tiles
@tileWidth: 340px;
@tileVerticalSpacing: 10px;

// Channels
@channelHorizontalMargin: 50px;

// Modals
@secondaryPadding: 20px;
@secondaryModalWidth: 330px;
@primaryRightPadding: 20px;
@tabBarHeight : 40px;
@secondaryCloseButtonWidth: 10px;

// Computed
@channelWidth: @tileWidth + 2 * @channelHorizontalMargin;
