/*======================
  = Metrics of the app =
  ====================== */

/* Consider this file as a "palette of shared dimensions" */

// Defined
@tileWidth: 340px;
@channelHorizontalMargin: 50px;

// Computed
@channelWidth: @tileWidth + 2 * @channelHorizontalMargin;
