/*===================================
  = Channel colors for modal panels =
  =================================== */

#primaryModal.channel1, .channel1 #primaryModal {
    & > .gradientBar { background-color: @channel1Color; }
}

#primaryModal.channel2, .channel2 #primaryModal {
    & > .gradientBar { background-color: @channel2Color; }
}

#primaryModal.channel3, .channel3 #primaryModal {
    & > .gradientBar { background-color: @channel3Color; }
}

#primaryModal.channel4, .channel4 #primaryModal {
    & > .gradientBar { background-color: @channel4Color; }
}

#primaryModal.channel5, .channel5 #primaryModal {
    & > .gradientBar { background-color: @channel5Color; }
}

#primaryModal.channel6, .channel6 #primaryModal {
    & > .gradientBar { background-color: @channel6Color; }
}

#primaryModal.channel7, .channel7 #primaryModal {
    & > .gradientBar { background-color: @channel7Color; }
}

#primaryModal.channel8, .channel8 #primaryModal {
    & > .gradientBar { background-color: @channel8Color; }
}

#primaryModal.channel9, .channel9 #primaryModal {
    & > .gradientBar { background-color: @channel9Color; }
}

#primaryModal.channel10, .channel10 #primaryModal {
    & > .gradientBar { background-color: @channel10Color; }
}

#primaryModal.channel11, .channel11 #primaryModal {
    & > .gradientBar { background-color: @channel11Color; }
}

#primaryModal.channel12, .channel12 #primaryModal {
    & > .gradientBar { background-color: @channel12Color; }
}

#primaryModal.channel13, .channel13 #primaryModal {
    & > .gradientBar { background-color: @channel13Color; }
}

#primaryModal.channel14, .channel14 #primaryModal {
    & > .gradientBar { background-color: @channel14Color; }
}

#primaryModal.channel15, .channel15 #primaryModal {
    & > .gradientBar { background-color: @channel15Color; }
}

#primaryModal.channel16, .channel16 #primaryModal {
    & > .gradientBar { background-color: @channel16Color; }
}

#primaryModal.channel17, .channel17 #primaryModal {
    & > .gradientBar { background-color: @channel17Color; }
}

#primaryModal.channel18, .channel18 #primaryModal {
    & > .gradientBar { background-color: @channel18Color; }
}

#primaryModal.channel19, .channel19 #primaryModal {
    & > .gradientBar { background-color: @channel19Color; }
}