/*===================
  = Program details =
  =================== */

@import "palette.less";

@progressBarWidth: 300px;
@progressBarTagWidth: 50px;
@progressBarHeight : 8px;

@programImageWidth: 360px;

article.programDetails {

    // DESCRIPTION
    & > .programDescription {
        width: 58%;

        & > h1 {
            font-size: 35px;
            color: @gray;
            margin: 7px 0;
            font-weight: bold;
        }

        & > ul.programCharacteristics {

            font-size: 16px;
            font-weight: bold;

            margin: 7px 0;
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                margin-right: 5px;

                &:before {
                    content: "|";
                    margin-right: 5px;
                }
            }

            li:first-child:before {
                content: none;
            }
        }

        & > .now {
            display: inline-block;

            background-color: @gray;
            color: white;

            font-size: 16px;
            font-weight: bold;

            padding: 5px 25px;
            margin: 7px 0;
        }

        & > .programProgress {
            width: 100%;
            max-width: @progressBarWidth + 2 * @progressBarTagWidth;
            height: 20px;
            line-height: 20px;

            margin: 20px 0;
            position: relative;

            font-size: 12px;
            font-weight: bold;

            .beginning {
                position: absolute;
                top: 0;
                left: 0;
                width: @progressBarTagWidth;
            }

            .end {
                position: absolute;
                top: 0;
                right: 0;
                width: @progressBarTagWidth;
                text-align: right;
            }

            .progressBar {
                position: relative;
                height: @progressBarHeight;

                top: 5px;
                margin-left: @progressBarTagWidth;
                margin-right: @progressBarTagWidth;

                background: @ultraLightGray;

                .progression {
                    background: @gray;
                    height: @progressBarHeight;
                }
            }
        }


    }

    // Synopsis
    .programSynopsis {
        p {
            font-size: 13px;
            line-height: 1.4;
            color: @gray;
        }
    }

    // Image
    .programImage {
        float: right;
        width:40%;
        max-width: @programImageWidth;
    }

}


/*==========
  = Colors =
  ========== */

.channel1 article.programDetails > .programDescription, 
article.programDetails.channel1 > .programDescription {
    
    & > h1 { color: @channel1Color; }
    & > .now { background-color: @channel1Color; }

}

.channel2 article.programDetails > .programDescription,
article.programDetails.channel2 > .programDescription {

    & > h1 { color : @channel2Color;}
    & > .now { background-color: @channel2Color;}

}

.channel3 article.programDetails > .programDescription,
article.programDetails.channel3 > .programDescription {

    & > h1 { color : @channel3Color;}
    & > .now { background-color: @channel3Color;}

}

.channel4 article.programDetails > .programDescription,
article.programDetails.channel4 > .programDescription {

    & > h1 { color : @channel4Color;}
    & > .now { background-color: @channel4Color;}

}

.channel5 article.programDetails > .programDescription,
article.programDetails.channel5 > .programDescription {

    & > h1 { color : @channel5Color;}
    & > .now { background-color: @channel5Color;}

}

.channel6 article.programDetails > .programDescription,
article.programDetails.channel6 > .programDescription {

    & > h1 { color : @channel6Color;}
    & > .now { background-color: @channel6Color;}

}

.channel7 article.programDetails > .programDescription,
article.programDetails.channel7 > .programDescription {

    & > h1 { color : @channel7Color;}
    & > .now { background-color: @channel7Color;}

}

.channel8 article.programDetails > .programDescription,
article.programDetails.channel8 > .programDescription {

    & > h1 { color : @channel8Color;}
    & > .now { background-color: @channel8Color;}

}

.channel9 article.programDetails > .programDescription,
article.programDetails.channel9 > .programDescription {

    & > h1 { color : @channel9Color;}
    & > .now { background-color: @channel9Color;}

}

.channel10 article.programDetails > .programDescription,
article.programDetails.channel10 > .programDescription {

    & > h1 { color : @channel10Color;}
    & > .now { background-color: @channel10Color;}

}

.channel11 article.programDetails > .programDescription,
article.programDetails.channel11 > .programDescription {

    & > h1 { color : @channel11Color;}
    & > .now { background-color: @channel11Color;}

}

.channel12 article.programDetails > .programDescription,
article.programDetails.channel12 > .programDescription {

    & > h1 { color : @channel12Color;}
    & > .now { background-color: @channel12Color;}

}

.channel13 article.programDetails > .programDescription,
article.programDetails.channel13 > .programDescription {

    & > h1 { color : @channel13Color;}
    & > .now { background-color: @channel13Color;}

}

.channel14 article.programDetails > .programDescription,
article.programDetails.channel14 > .programDescription {

    & > h1 { color : @channel14Color;}
    & > .now { background-color: @channel14Color;}

}

.channel15 article.programDetails > .programDescription,
article.programDetails.channel15 > .programDescription {

    & > h1 { color : @channel15Color;}
    & > .now { background-color: @channel15Color;}

}

.channel16 article.programDetails > .programDescription,
article.programDetails.channel16 > .programDescription {

    & > h1 { color : @channel16Color;}
    & > .now { background-color: @channel16Color;}

}

.channel17 article.programDetails > .programDescription,
article.programDetails.channel17 > .programDescription {

    & > h1 { color : @channel17Color;}
    & > .now { background-color: @channel17Color;}

}

.channel18 article.programDetails > .programDescription,
article.programDetails.channel18 > .programDescription {

    & > h1 { color : @channel18Color;}
    & > .now { background-color: @channel18Color;}

}

.channel19 article.programDetails > .programDescription,
article.programDetails.channel19 > .programDescription {

    & > h1 { color : @channel19Color;}
    & > .now { background-color: @channel19Color;}

}
